@model List<Employee>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Search</h1>
    <table class="table table-hover">
        <tr>
            <th>code</th>
            <th>name</th>
            <th>year</th>
            <th>employees</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@( item.PrefectureCode )</td>
                <td>@( item.PrefectureName )</td>
                <td>@( item.SurveyYear )</td>
                <td>@( item.Employees )</td>
            </tr>
        }
    </table>
</div>
